<h1>Movies#index</h1>
<%= link_to "Crear pelicula",new_movie_path %>
<%= link_to "Ver series", series_index_path %>
<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.name %><br>
      <%= movie.synopsis %> <br>
      <%= movie.director %>
    </li>
    <hr>
  <% end %>
</ul>

